<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %c - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="debug"/>
        <appender-ref ref="stdout"/>
    </root>

    <logger name="org.vibur.dbcp.proxy.AbstractInvocationHandler" additivity="false">
        <level value="debug"/> <!-- set to trace to see all JDBC interfaces methods intercepted calls -->
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.vibur.dbcp.util.PoolOperations" additivity="false">
        <level value="trace"/> <!-- trace shows all take/restore operations on rawConnection from the pool -->
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.vibur.dbcp.pool.ConnectionFactory" additivity="false">
        <level value="debug"/> <!-- debug shows all create/destroy operations on rawConnection by the factory -->
        <appender-ref ref="stdout"/>
    </logger>
</log4j:configuration>
